*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Happy Monkey", system-ui;
    font-weight: 900;
    font-style: normal;
}

::placeholder{
    color: white;
}

#main{
    background-color: mediumseagreen;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calculator_box{
    background-color: rgb(43, 41, 41);
    min-width: 60%;
    padding: 100px 100px;
    border-radius: 25px;
    box-shadow: 15px 15px 50px black;
}

#calculator_title_form_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.calculator_heading{
    border-left: 5px solid mediumseagreen;
    padding: 10px;
}

.calculator_heading h1{
    color: mediumseagreen;
}

#calculator_form{
    min-width: 50%;
}

form input[type=number]{
    padding: 15px 10px;
    width: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(120, 116, 116);
    color: white;
    font-size: 17px;
}

form select{
    padding: 15px 10px;
    width: 100%;
    font-size: 17px;
}

.result_heading{
    color: mediumseagreen;
    text-align: center;
    padding: 15px;
}

form input[type=submit]{
    padding: 15px 25px;
    background-color: mediumseagreen;
    color: white;
    border: 0px solid black;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}